#header__MDA {
  @media screen and (max-width: 1199.9px) {
    .container {
      .header__content {
        // display: block;
        .header__left {
          .header__navbar {
            display: none;
          }
        }
        .header__burger {
          display: block;
        }
        .header__right {
          // display: none;
        }
        .header__mobile {
          display: block;
          .mobile__contact {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 766.9px) {
    .container {
      .header__content {
        display: flex;
        justify-content: space-between;
        .header__burger {
          margin-left: auto;
        }
        .header__right {
          display: none;
        }
        .header__mobile {
          .mobile__con {
            .mobile__content {
              .mobile__nav {
                .menu-nav {
                  .menu-list {
                    .dropdown {
                      .drop-menu {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
          .mobile__contact {
            display: block;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 0.6rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 825px) {
    .container {
      .header__content {
        padding: 0.3rem 1rem;
        .header__overlay {
          top: calc(var(--size-hd-top) + var(--size-hd-bottom) * 0.09);
        }
        .header__mobile {
          top: calc(var(--size-hd-top) + var(--size-hd-bottom) * 0.09);
        }
      }
    }
  }
}

.banner {
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .box {
      &-left {
        top: 4.3%;
        left: 23%;
      }
      &-right {
        top: 4.3%;
        right: 23%;
      }
    }
  }
  @media screen and (min-width: 825px) and (max-width: 991.9px) {
    .banner__content {
      .banner__header {
        font-size: 4rem;
      }
      .sub__title {
        font-size: 1.4rem;
        margin: 1rem 0;
        width: 60%;
      }
    }
    .box {
      bottom: 26%;
    }
    .fa-angles-down {
      bottom: 12%;
      left: 48.7%;
    }
  }
  @media screen and (min-width: 650px) and (max-width: 824.9px) {
    .banner__content {
      .banner__header {
        font-size: 4rem;
      }
      .sub__title {
        font-size: 1.4rem;
        margin: 1rem 0;
        width: 60%;
      }
    }
    .box {
      display: none;
    }
    .fa-angles-down {
      bottom: 17%;
    }
  }
  @media screen and (max-width: 649.9px) {
    .banner__content {
      padding-top: 6rem;
      .banner__header {
        font-size: 4rem;
      }
      .sub__title {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        width: 100%;
      }
    }
    .box {
      display: none;
    }
    .fa-angles-down {
      display: none;
    }
  }
}

.intro {
  @media screen and (max-width: 1043.9px) {
    .container {
      .intro__content {
        .intro__item {
          .card__header__left {
            .intro__title {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 965px) {
    .container {
      .intro__content {
        .col-6 {
          width: calc(12 / 12 * 100%);
        }
        .intro__item {
          margin-bottom: calc(var(--row-gap) * 5);
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          padding: calc(var(--col-gap) / 2);
          border-radius: 1.6rem;
        }
      }
    }
  }
}

.partner {
  @media screen and (max-width: 1010px) {
    .container {
      .partner__content {
        .partner__item {
          .card-header {
            .partner-title {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 906px) {
    .container {
      .partner__content {
        .col-6 {
          width: calc(12 / 12 * 100%);
        }
        .partner__item {
          margin-bottom: calc(var(--row-gap) * 10);
          .img {
            .partner__img {
              width: 100%;
            }
            .sub__title {
              width: 34%;
              right: -5%;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 529.9px) {
    .container {
      .partner__content {
        .partner__item {
          .img {
            .sub__title {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

.achivement {
  @media screen and (min-width: 1136px) and (max-width: 1243.9px) {
    .container {
      .card__bottom {
        .ach__item {
          .ach-details {
            .item__right {
              .right__text {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1135.9px) {
    .container {
      .card__bottom {
        .col-3 {
          width: calc(6 / 12 * 100%);
        }
        .ach__item {
          margin-bottom: calc(var(--row-gap) * 5);
          padding: 0 calc(var(--col-gap) / 0.5);
          .ach-details {
            display: flex;
            align-items: center;
            .item__right {
              .right__text {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 741.9px) {
    .container {
      .card__bottom {
        .col-3 {
          width: calc(12 / 12 * 100%);
        }
        .ach__item {
          margin-bottom: calc(var(--row-gap) * 5);
          padding: 0 calc(var(--col-gap) / 0.5);
        }
      }
    }
  }
}

.feeling {
  @media screen and (max-width: 1500px) {
    .feeling__content {
      .col-9,
      .col-3 {
        width: calc(12 / 12 * 100%);
      }
      .item__left {
        padding: 7.4rem 5.6rem 7.4rem 10rem;
        margin: 0 auto;
        .card__body {
          width: 85%;
        }
      }
      .item__right {
        .student__arrow {
          left: 93%;
        }
      }
    }
  }
  @media screen and (max-width: 1225px) {
    .feeling__content {
      .item__left {
        .card-header {
          .header__title {
            font-size: 3rem;
          }
        }
        .card__body {
          .body-content {
            .body-header {
              .header-right {
                .name-company {
                  .name-text {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1103px) {
    .feeling__content {
      .item__left {
        .card-header {
          .header__title {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1040px) {
    .feeling__content {
      .item__right {
        .student__arrow {
          display: none;
        }
        .student__plus {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .feeling__content {
      .item__left {
        .card__bottom {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          .bottom__left {
            width: auto;
            gap: 0.6rem;
            .box {
              position: static;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    .feeling__content {
      .item__left {
        .card__body {
          .body-content {
            padding: 6rem 1.2rem 6.5rem;
            .body-bottom {
              .sub-text1,
              .sub-text2 {
                font-size: 1.2rem;
              }
            }
            .arrow-left,
            .arrow-right {
              display: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 550px) {
    .feeling__content {
      .item__left {
        .card__bottom {
          .bottom__left {
            .box-petro2,
            .box-nature,
            .box-bat,
            .box-mb {
              display: none;
            }
          }
        }
      }
    }
  }
}

.training {
  @media screen and (max-width: 1100px) {
    .training__content {
      .training-top {
        .training-details {
          margin: 0 auto;
          .col-3 {
            width: (12 /12 * 100%);
          }
          .training-item {
            text-align: center;
            margin: 0 auto calc(var(--row-gap) * 5);
            padding: 0 calc(var(--col-gap) / 0.3);
            .training-item-content {
              padding: 1.75rem;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border-radius: 1.6rem;
              position: relative;
            }
            .arrow-down {
              display: block;
              transform: translateY(65%);
              .fa-down-long {
                font-size: 3rem;
                color: $color-gray;
              }
            }

            .training-circle {
              display: none;
            }
            &:last-of-type {
              text-align: center;
            }
          }
        }
      }
      .training-bottom {
        .col-6 {
          width: (12 /12 * 100%);
        }
        .training-bottom-item {
          margin-bottom: calc(var(--row-gap) * 5);
          padding: 0 calc(var(--col-gap) / 2);
        }
        .training-right {
          text-align: end;
          .backround-small {
            display: none;
          }
          .backround-small2 {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 648px) {
    .training__content {
      .training-top {
        .training__header {
          .header__title {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

.guest {
  @media screen and (max-width: 1200px) {
    .guest-content {
      .cols {
        width: calc((6 / 12 * 100%) - 2rem);
      }
      .guest-item {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-right: 2rem;
        border-radius: 2.4rem;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .guest-content {
      .cols {
        width: calc((12 / 12 * 100%));
      }
      // .guest-item {
      //   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      //   margin-right: 2rem;
      //   border-radius: 2.4rem;
      // }
    }
  }
}

.tech {
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    .tech-header {
      text-align: center;
      .col-5 {
        width: calc(12 / 12 * 100%);
      }
      .col-7 {
        width: 100%;
      }
      .header-item {
        margin-bottom: var(--row-gap);
      }
      .header-left {
        .tech-title {
          font-size: 3rem;
        }
      }
      .header-right {
        padding: 0 calc(var(--col-gap) / 2);
        margin: 0 auto;
        .tech-sub-title {
          font-size: 1.4rem;
        }
      }
    }
    .tech-bottom {
      .tech-content {
        display: block;
        .col-tech {
          width: 20%;
        }
        .tech-item {
          margin: 0 auto;
          margin-bottom: var(--row-gap);
          padding: 0;
        }
      }
    }
    .tech-bg-left,
    .tech-bg-right {
      display: none;
    }
  }
  @media screen and (max-width: 599.9px) {
    .tech-header {
      .col-5 {
        width: calc(12 / 12 * 100%);
      }
      .col-7 {
        width: 100%;
      }
      .header-item {
        margin-bottom: var(--row-gap);
      }
      .header-left {
        .tech-title {
          font-size: 3rem;
        }
      }
      .header-right {
        padding: 0 calc(var(--col-gap) / 2);
        .tech-sub-title {
          font-size: 1.4rem;
        }
      }
    }
    .tech-bottom {
      .tech-content {
        display: block;
        margin: 0;
        .col-tech {
          width: 30%;
        }
        .tech-item {
          margin-right: auto;
          margin-bottom: var(--row-gap);
          padding: 0 calc(var(--col-gap) / 10);
        }
      }
    }
    .tech-bg-left,
    .tech-bg-right {
      display: none;
    }
  }
}
.slider {
  @media screen and (max-width: 600px) {
    .silder__header {
      .slider-title {
        font-size: 3rem;
      }
    }
  }
}

.event {
  @media screen and (max-width: 800px) {
    .event-bottom {
      .col-4 {
        width: calc(12 / 12 * 100%);
      }
      .event-content {
        .event-item {
          margin-bottom: 2rem;
          .event-img {
            &::after {
              display: none;
            }
            img {
              width: auto;
            }
            .event-play {
              display: none;
            }
          }
          .event-text {
            .play-video {
              display: block;
            }
          }
        }
      }
      .arrow__item {
        display: none;
      }
    }
  }
  @media screen and (max-width: 667px) {
    .event-header {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      text-align: left;
      justify-content: start;
      align-items: start;
    }
  }
}

@media screen and (max-width: 1100px) {
  .service {
    background: url("../../assets/image/service_bg.png") center center fixed;
    background-size: cover;
    padding: 10rem 5rem;
    border-radius: 2.4rem;
    margin: 10rem 0;
    .service-content {
      .service-bg {
        display: none;
      }
      .service-details {
        padding: 0 5rem;

        .col-6 {
          width: calc(12 / 12 * 100%);
        }
        .service-item {
          margin-bottom: var(--row-gap);
        }
        .service-left {
          // transform: translate(0%, -125%);
          .service-left-header {
            .service-title {
              // color: $color-pri;
            }
          }
          .service-sub-title {
            // color: $color-pri;
          }
        }
        .service-right {
        }
      }
    }
  }
}
.service {
  @media screen and (max-width: 930px) {
    .service-content {
      height: auto;
    }
  }
  @media screen and (max-width: 650px) {
    .service-content {
      .service-details {
        .service-left {
          .service-sub-title {
            font-size: 1.4rem;
          }
        }
        .service-item {
          margin-bottom: calc(var(--row-gap) * 3);
        }
      }
    }
  }
}

.footer {
  @media screen and (min-width: 1471px) and (max-width: 1661px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4 {
          width: 30%;
        }
      }
    }
  }

  @media screen and (min-width: 1130px) and (max-width: 1470.9px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4,
        .col-2,
        .col-3 {
          width: calc(6 / 12 * 100%);
        }
        .footer__item {
          padding: 0 calc(var(--col-gap) / 3);
          margin-bottom: calc(var(--row-gap) * 5);
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1129.9px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4,
        .col-2,
        .col-3 {
          width: calc(6 / 12 * 100%);
        }
        // .col-4 {
        //   width: calc(7 / 12 * 100%);
        // }
        // .col-3 {
        //   &:first-of-type {
        //     width: calc(5 / 12 * 100%);
        //   }
        //   &:last-of-type {
        //     width: calc(6 / 12 * 100%);
        //   }
        // }
        // .col-2 {
        //   width: calc(6 / 12 * 100%);
        // }
        .footer__item {
          padding: 0 calc(var(--col-gap) / 3);
          margin-bottom: calc(var(--row-gap) * 5);
          &:first-of-type {
            .footer__item__content {
              .footer__partner {
                display: block;
                .partner__lark {
                  margin-top: 2rem;
                  width: 60%;
                  .lark__content {
                    justify-content: space-around;
                    .lark__logo {
                      &::before {
                        right: -15%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 825px) and (max-width: 991.9px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4,
        .col-2,
        .col-3 {
          width: calc(12 / 12 * 100%);
        }
        .col-4 {
          width: calc(12 / 12 * 100%);
        }
        .col-3 {
          &:first-of-type {
            width: calc(12 / 12 * 100%);
          }
          &:last-of-type {
            width: calc(6 / 12 * 100%);
          }
        }
        .col-2 {
          width: calc(6 / 12 * 100%);
        }

        .footer__item {
          padding: 0 calc(var(--col-gap) / 3);
          margin-bottom: calc(var(--row-gap) * 5);
          &:first-of-type {
            .footer__item__content {
              .footer__partner {
                display: flex;
                justify-content: space-around;
                .partner__lark {
                  // margin-top: 2rem;
                  width: 35%;
                  .lark__content {
                    justify-content: space-around;
                    .lark__logo {
                      &::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 650px) and (max-width: 824.9px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4,
        .col-2,
        .col-3 {
          width: calc(12 / 12 * 100%);
        }

        .footer__item {
          padding: 0 calc(var(--col-gap) / 10);
          margin-bottom: calc(var(--row-gap) * 5);
          &:first-of-type {
            .footer__item__content {
              .footer__partner {
                display: block;
                .partner__lark {
                  margin-top: 2rem;
                  width: 22%;
                  .lark__content {
                    justify-content: space-around;
                    .lark__logo {
                      &::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 649.9px) {
    .container {
      .footer__content {
        // padding: 8rem 6.4rem 7.4rem;
        .col-4,
        .col-2,
        .col-3 {
          width: calc(12 / 12 * 100%);
        }

        .footer__item {
          padding: 0 calc(var(--col-gap) / 10);
          margin-bottom: calc(var(--row-gap) * 5);
          &:first-of-type {
            .footer__item__content {
              .footer__partner {
                display: block;
                .partner__lark {
                  margin-top: 2rem;
                  width: 35%;
                  .lark__content {
                    justify-content: space-around;
                    .lark__logo {
                      &::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
