.achivement {
  padding: 10rem 0;
  text-align: center;
  .container {
    .card__header {
      .sub__title {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-text;
      }
    }
    .card__body {
      margin: 0.8rem 0 4rem;
      .ach-title {
        font-size: 4rem;
        font-weight: 700;
        color: $color-pri;
      }
    }
    .card__bottom {
      --col-gap: 2.4rem;
      --row-gap: 0.8rem;
      .ach__item {
        padding: 0 calc(var(--col-gap) / 2);
        .ach-details {
          padding: 2rem 3.2rem;
          display: flex;
          gap: 2.4rem;
          background-color: white;
          border: 1px solid $color-pri;
          border-radius: 2.4rem;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            background-color: $color-pri;
            border: 1px solid transparent;
            .item__left {
              .item__icon {
                background-color: white;
                .fa-solid {
                  color: $color-pri;
                }
              }
            }
            .item__right {
              .right__title {
                color: white;
              }
              .right__text {
                color: white;
              }
            }
          }
          .item__left {
            .item__icon {
              width: 4.8rem;
              height: 4.8rem;
              background-color: $color-pri;
              border-radius: 50%;
              transition: all 0.5s;
              .fa-solid {
                padding: 1.4rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s;
              }
            }
          }
          .item__right {
            display: flex;
            flex-direction: column;
            text-align: left;
            flex: 1;
            .right__title {
              font-size: 3rem;
              font-weight: 700;
              color: $color-pri;
            }
            .right__text {
              font-size: 1.6rem;
              font-weight: 700;
              margin-top: auto;
            }
          }
        }
      }
    }
  }
}
