.guest {
  text-align: center;
  padding: 10rem 0;
  .guest__header {
    .guest-title {
      font-size: 4rem;
      font-weight: 700;
      color: $color-pri;
      margin-bottom: 4rem;
    }
  }
  .guest__bottom {
    position: relative;
    .mySwiperGuest {
      height: 26.4rem;
      .swiper-wrapper {
        margin-bottom: 3.2rem;
        width: 100% !important;
        // width: 120rem;
        .swiper-slide {
          width: 12rem;
          height: 12rem;
          .guest-item {
            .guest-img {
              display: block;
              padding-top: calc(120 / 120 * 100%);
              position: relative;
              img {
                position: absolute;
                width: 50%;
                height: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .swiper-pagination {
      position: absolute;
      bottom: 0;
      // left: 50%;
      .swiper-pagination-bullet {
        background-color: rgba(101, 211, 255, 1);
        position: relative;
        margin-left: 0.8rem;
        transition: all 0.5s;
        &:hover {
          opacity: 1;
          &::before {
            opacity: 1;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: -0.4rem;
          left: -0.4rem;
          border: 2px solid rgba(25, 118, 210, 1);
          bottom: -0.4rem;
          right: -0.4rem;
          border-radius: 10rem;
          border-right: none;
          border-top: none;
          transform: rotate(90deg);
          transition: all 0.5s;
          opacity: 0;
        }
        &-active {
          &::before {
            content: "";
            position: absolute;
            top: -0.4rem;
            left: -0.4rem;
            border: 2px solid rgba(25, 118, 210, 1);
            bottom: -0.4rem;
            right: -0.4rem;
            border-radius: 10rem;
            border-right: none;
            border-top: none;
            transform: rotate(90deg);
            transition: all 0.5s;
            opacity: 1;
          }
        }
      }
    }
  }
  // .guest-content {
  //   --col-gap: 6rem;
  //   --row-gap: 4.4rem;
  //   .cols {
  //     width: calc((12 / 7) / 12 * 100%);
  //     margin-bottom: var(--row-gap);
  //   }
  //   .guest-item {
  //     padding: 0 calc(var(--col-gap) / 2);
  //     .guest-img {
  //       img {
  //         height: 12rem;
  //       }
  //     }
  //   }
  // }
}
