.header__mobile {
  min-width: 50rem;
  // width: 50rem;
  background-color: white;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.05);
  transition: 0.4s linear;
  transition-delay: 0s;
  //   transform: translateX(-100%);
  position: fixed;
  top: calc(var(--size-hd-top) + var(--size-hd-bottom) * 0.8);
  left: 0;
  bottom: 0;
  transform: translateX(-110%);
  display: none;
  // height: calc(1089 / 1417.88 * 100vw);
  z-index: 101;
  &.open {
    transform: translateX(0);
  }
  .mobile__con {
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .mobile__content {
      padding-bottom: 6rem;
      position: relative;
      .mobile__nav {
        .menu-nav {
          .menu-list {
            .menu-item {
              &:hover {
                .mobile__menu-link {
                  color: $color-pri;
                }
              }
              .mobile__menu-link {
                padding: 1.2rem;
                // display: -webkit-flex;
                // display: -moz-flex;
                // display: -ms-flex;
                // display: -o-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #303030;
                font-size: 1.6rem;
                font-weight: 600;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                transition: all 0.5s;
              }
            }
            .dropdown {
              overflow: hidden;
              &.change {
                .mobile__menu-link {
                  background-color: $color-pri;
                  color: white;
                }
                .menu-link-icon {
                  .fa-angle-right {
                    transform: rotate(90deg);
                  }
                }
              }
              .mobile__menu-link {
                .menu-link-icon {
                  .fa-angle-right {
                    transition: all 0.3s;
                  }
                }
              }
              .drop-menu {
                padding: 1rem 0 1rem 1rem;
                display: none;
                background-color: white;
                .drop-item {
                  padding: 1.5rem 2rem;
                  border-bottom: 1px solid #f3f4f6;
                  transition: all 0.3s;
                  position: relative;
                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 0.1rem;
                    width: 0;
                    transition: 0.2s ease-in-out;
                    bottom: 0;
                    background-color: $color-pri;
                  }
                  &:hover {
                    &::before {
                      width: 100%;
                    }

                    .drop-link {
                      color: $color-pri;
                    }
                  }
                  .drop-link {
                    color: $color-text;
                    transition: all 0.3s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mobile__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.6rem;
    .mobile__item {
      &:hover {
        &:first-of-type {
          border: 1px solid $color-pri;
          &::after {
            width: 100%;
            left: 0%;
          }
          .mobile__phone {
            color: $color-pri;
            .mobile__phone__icon {
              background-color: $color-pri;
              .fa-phone-volume {
                color: white;
              }
            }
          }
        }
        &:last-of-type {
          border: 1px solid transparent;
          &::after {
            width: 100%;
            left: 0;
          }
          .mobile__zalo__content {
            .mobile__zalo {
              .mobile__zalo__title {
                color: white;
              }
            }
            .mobile__zalo__text {
              color: white;
            }
          }
        }
      }
      &:first-of-type {
        border: 1px solid transparent;
        background: rgba(0, 84, 198, 1);
        background: -webkit-linear-gradient(
          to left,
          rgba(0, 84, 198, 1),
          rgba(0, 131, 222, 1)
        );
        background: linear-gradient(
          to left,
          rgba(0, 84, 198, 1),
          rgba(0, 131, 222, 1)
        );
        border-radius: 10rem;
        position: relative;
        overflow: hidden;
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          right: 0;
          background: white;
          transition: all 0.3s;
          z-index: 1;
        }

        .mobile__phone {
          display: flex;
          gap: 0.8rem;
          align-items: center;
          padding: 0.6rem 1.6rem 0.6rem 0.6rem;
          color: white;
          transition: 0.3s ease-in-out;
          position: relative;
          z-index: 2;

          .mobile__phone__icon {
            width: 3.2rem;
            height: 3.2rem;
            background-color: white;
            border-radius: 50%;
            .fa-phone-volume {
              color: $color-pri;
              width: inherit;
              height: inherit;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      &:last-of-type {
        border-radius: 10rem;
        background-color: white;
        border: 1px solid $color-pri;
        position: relative;
        overflow: hidden;
        .mobile__zalo__content {
          display: flex;
          align-items: center;
          padding: 0.1rem 2rem;

          .mobile__zalo {
            .mobile__zalo__title {
              font-size: 3.2rem;
              font-weight: 700;
              color: $color-pri;
              padding-bottom: 0.5rem;
              position: relative;
              z-index: 2;
              transition: 0.3s ease-in-out;
            }
          }
          .mobile__zalo__text {
            font-size: 1.1rem;
            color: $color-pri;
            position: relative;
            transition: 0.3s ease-in-out;
            z-index: 2;
          }
        }
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          right: 0;
          background: $color-pri;
          transition: all 0.3s;
          z-index: 1;
        }
      }
    }
  }
}
