.training {
  padding: 5rem 0;
  background-color: rgba(248, 249, 250, 1);
  overflow: hidden;
  .training__content {
    .training-top {
      margin-bottom: 3.1rem;
      .training__header {
        margin-bottom: 4rem;
        .header__title {
          font-weight: 700;
          font-size: 4rem;
          color: $color-pri;
        }
      }
      .training-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        border-radius: 0.4rem;
        background-color: #1976D2;
        color: white;
        cursor: pointer;
        padding: 1rem;
        .fa-angle-right {
          transition: all .5s;
        }
        &.active {
          .fa-angle-right {
              transform: rotate(90deg);
            }
        }

      }
      .training-details {
        --col-gap: 4.8rem;
        --row-gap: 0.8rem;
        .training-item {
          padding: 0 calc(var(--col-gap) / 2);
          cursor: pointer;
          &.active {
            .training-item-content {
              .training-icon {
                img {
                  filter: none;
                }
              }
              .training-text {
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-pri;
                transition: all 0.5s;
              }
              .training-circle {
                &::before {
                  background-color: $color-pri;
                }
                .fa-circle {
                  color: $color-pri;
                  font-weight: 700;
                }
              }
            }
          }
          &:nth-of-type(2),
          &:nth-of-type(3) {
            text-align: center;
          }
          &:last-of-type {
            text-align: right;
          }

          .training-item-content {
            .training-icon {
              img {
                filter: brightness(0) saturate(100%) invert(60%) sepia(13%)
                  saturate(0%) hue-rotate(259deg) brightness(92%) contrast(90%);
              }
            }
            .training-text {
              font-size: 1.6rem;
              font-weight: 700;
              color: $color-gray;
              margin: 1.2rem 0 3.3rem;
            }
            .training-circle {
              .fa-circle {
                color: $color-gray;
                transition: all 0.5s;
              }
            }
            .training-line1 {
              position: relative;
              &::before {
                content: "";
                height: 0.2rem;
                width: 157%;
                max-width: 41rem;
                background-color: $color-gray;
                position: absolute;
                top: 46%;
                right: -64%;
              }
            }
            .training-line2 {
              position: relative;
              &::before {
                content: "";
                height: 0.2rem;
                width: 110%;
                max-width: 29rem;
                background-color: $color-gray;
                position: absolute;
                top: 46%;
                right: -64%;
              }
            }
            .training-line3 {
              position: relative;
              &::before {
                content: "";
                height: 0.2rem;
                width: 160%;
                max-width: 41.5rem;
                background-color: $color-gray;
                position: absolute;
                top: 46%;
                right: -111%;
              }
            }
          }
          .arrow-down {
            display: none;
          }
        }
      }
    }
    
    .training-tap {
      overflow: hidden;
      border-radius: 2.4rem;

      .training-bottom {
        padding: 5.6rem 7.8rem;
        background-color: #fff;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
        display: none;
        opacity: 0;
        transition: all 0.5s;
        transform: translateY(100%);

        .training-bottom-tab {
          .tab-item {
            padding: calc(var(--col-gap) / 2);
          }
          .tab-left {
            .tab-content {
              display: flex;
              flex-direction: column;
              gap: 1.6rem;
              .tab-left-header {
                .tab-title {
                  font-size: 2.4rem;
                  font-weight: 700;
                  color: $color-second;
                }
              }
              .sub-left-title {
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-text;
              }
              .tab-left-details {
                .details-item {
                  display: flex;
                  align-items: center;
                  gap: 1.2rem;
                  .details-text {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $color-text;
                  }
                  .details-item-icon {
                    width: 1.6rem;
                    height: 1.6rem;
                    background-color: $color-pri;
                    color: white;
                    border-radius: 50%;
                    .fa-check {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 0.2rem;
                      font-size: 1.2rem;
                    }
                  }
                }
              }
              .tab-left-btn {
                margin-top: 2.4rem;
                display: flex;
                gap: 1.3rem;
                align-items: center;
                .tab-signUp {
                  border: 1px solid transparent;
                  background: rgba(0, 84, 198, 1);
                  background: -webkit-linear-gradient(
                    to left,
                    rgba(0, 84, 198, 1),
                    rgba(0, 131, 222, 1)
                  );
                  background: linear-gradient(
                    to left,
                    rgba(0, 84, 198, 1),
                    rgba(0, 131, 222, 1)
                  );
                  border-radius: 10rem;
                  position: relative;
                  overflow: hidden;
                  &:hover {
                    border: 1px solid $color-pri;
                    &::after {
                      width: 100%;
                      left: 0%;
                    }
                    .tab-btnSignUp {
                      color: $color-pri;
                    }
                  }
                  &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background: white;
                    transition: all 0.5s;
                    z-index: 1;
                  }
                  .tab-btnSignUp {
                    padding: 1.2rem 2.4rem;
                    color: white;
                    position: relative;
                    z-index: 2;
                  }
                }
                .tab-course {
                  background-color: white;
                  border: 1px solid $color-pri;
                  border-radius: 10rem;
                  overflow: hidden;
                  position: relative;
                  &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background: rgba(0, 84, 198, 1);
                    background: -webkit-linear-gradient(
                      to left,
                      rgba(0, 84, 198, 1),
                      rgba(0, 131, 222, 1)
                    );
                    background: linear-gradient(
                      to left,
                      rgba(0, 84, 198, 1),
                      rgba(0, 131, 222, 1)
                    );
                    transition: all 0.5s;
                    z-index: 1;
                  }
                  &:hover {
                    border: 1px solid transparent;
                    &::after {
                      width: 100%;
                      left: 0%;
                    }
                    .tab-btnCourse {
                      color: white;
                    }
                  }
                  .tab-btnCourse {
                    padding: 1.2rem 2.4rem;
                    color: $color-pri;
                    position: relative;
                    z-index: 2;
                  }
                }
              }
            }
          }
        }

        &.open {
          display: block;
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
}
