.intro {
  @media screen and (max-width: 1043.9px) {
      .intro__content {
        .intro__item {
          .card__header__left {
            .intro__title {
              font-size: 3rem;
            }
          }
        }
    }
  }
  @media screen and (max-width: 965px) {
      .intro__content {
        .intro__item {
          .card__header__left {
            .intro__title {
              font-size: 2.5rem;
            }
          }
        }
    }
  }
  @media screen and (max-width: 700px) {
      .intro__content {
        .col-6 {
          width: calc(12 / 12 * 100%);
        }
        .intro__item {
          margin-bottom: var(--row-gap);
          padding: 0 calc(var(--col-gap) / 2);
          border-radius: 1.6rem;
          .card__body__left {
          .sub__title {
            font-size: 1.4rem;
          }
        }
        }
        
      }
    
  }
  @media screen and (max-width: 500px) {
      .intro__content {
        .intro__item {
          .card__header__left {
            .intro__title {
              font-size: 2rem;
            }
          }
          .card__bottom__right {
            .intro-signUp,.intro-plus {
              .btn-sigUp,.btnPlus {
                padding: 0.5rem 1rem;
              }
            }
          }
        }
    }
  }
}
@media screen and (max-width: 700px) {
  .intro {
    padding:  2rem 0;
  }
}
