.training {
  @media screen and (min-width:1054px) {
    .training__content {
      .training-top {
        .training-mobile {
          opacity: 0;
        }
        // .training-details {
        //   display: block;
        // }
      }
      
    }
  }
  @media screen and (max-width: 1053.9px) {
    .training__content {
      .training-top {
        .training-mobile {
          opacity: 1;
        }
        .training-details {
          background-color: white;
          --col-gap:-0.2rem;
          display: none;
          
          
          .col-3 {
            width: (12 /12 * 100%);
          }
          .training-item {
            padding: 0 calc(var(--col-gap) / 2);
            
            .training-item-content {
              padding: 1.75rem;
              display: flex;
              align-items: center;
              gap: 1rem;
              .training-text {
                margin: 0;
              }
            }
            .training-circle {
              display: none;
            }
            &:nth-child(2),&:nth-child(3){
              text-align: left;
            }
            &:last-child {
              text-align: left;
            }
            
          }
        }
      }
      .training-tap {
        .training-bottom {
          padding: 5.6rem 0.5rem;
          .col-6 {
            width: (12 /12 * 100%);
          }
          .training-bottom-item {
            margin-bottom: calc(var(--row-gap) * 5);
            padding: 0 calc(var(--col-gap) / 2);
          }
          .training-right {
            text-align: end;
            .backround-small {
              display: none;
            }
            .backround-small2 {
              display: none;
            }
          }
          .training-bottom-tab {
            .col-5,.col-7 {
              width: calc(12 / 12 * 100%);
            }
            
          }
        }
      }
    }
  }
  @media screen and (max-width:624px) {
    .training__content {
      .training-top {
        .training__header {
          .header__title {
            font-size: 3rem;
          }
        }
      }
    }
  }
  @media screen and (max-width:499.9px) {
    .training__content {
      .training-top {
        .training__header {
          .header__title {
            font-size: 2rem;
          }
        }
      }
      .training-tap {
        .training-bottom {
          .training-bottom-tab {
            .tab-left {
              .tab-content {
                .tab-left-btn {
                  .tab-signUp,.tab-course {
                    .tab-btnSignUp,.tab-btnCourse {
                      font-size: 1.2rem;
                      padding: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
